      <ul class="nav nav-pills nav-stacked">
        <li style="background: blanchedalmond ; font-weight: bold"><a href="#section1">VÙNG MIỀN</a></li>
        <li><a href="#section2">Miền bắc</a></li>
        <li><a href="#section3">Miền trung</a></li>
        <li><a href="#section3">Miền nam</a></li>
      </ul><br>
      <ul class="nav nav-pills nav-stacked">
          <li style="background: blanchedalmond ; font-weight: bold"><a href="#section1">TRÁI CÂY THEO MÙA</a></li>
          <li><a href="#section2">Mùa xuân</a></li>
          <li><a href="#section3">Mùa hạ</a></li>
          <li><a href="#section3">Mùa thu</a></li>
          <li><a href="#section3">Mùa đông</a></li>
        </ul><br>