<div style="
background-color: #ffffff;">
  <footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- footer widget -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="footer">
            <!-- footer logo -->
            <div class="footer-logo">
              <a class="logo" href="#">
                <img src="./assets/img/logo.png" alt="">
              </a>
            </div>
            <!-- /footer logo -->
  
            <p>Việt fruits nơi cung cấp trái cây sạch và giá cả phải chăng, nơi đặt chọn lòng tin của khách hàng</p>
  
            <!-- footer social -->
            <ul class="footer-social">
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
            <!-- /footer social -->
          </div>
        </div>
        <!-- /footer widget -->
  
        <!-- footer widget -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="footer">
            <h3 class="footer-header">Thông tin tài khoản</h3>
            <ul class="list-links">
              <li><a href="#">Tài khoản</a></li>
              <li><a href="#">Danh sách yêu thích</a></li>
              <li><a href="#">Gi hàng</a></li>
              <li><a href="#">Thanh toán</a></li>
              <li><a href="#">Đăng nhập</a></li>
            </ul>
          </div>
        </div>
        <!-- /footer widget -->
  
        <div class="clearfix visible-sm visible-xs"></div>
  
        <!-- footer widget -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="footer">
            <h3 class="footer-header">Dịch vụ khách hàng</h3>
            <ul class="list-links">
                <li><a href="#">Thông tin cửa hàng</a></li>
                <li><a href="#">Đổi trả hàng</a></li>
                <li><a href="#">Dịch vụ kiểm duyệt</a></li>
                <li><a href="#">Giao hàng</a></li>
            </ul>
          </div>
        </div>
        <!-- /footer widget -->
  
        <!-- footer subscribe -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="footer">
            <h3 class="footer-header">Liên lạc với chúng tôi</h3>
            <p style=" margin-top: 27px;">Hãy cho chúng tôi biết nếu bạn cần giúp đở và tư vấn nhé.</p>
            <form>
              <div class="form-group">
                <input class="input" placeholder="Nhập email... ">
              </div>
              <button class="primary-btn">Gửi thông tin</button>
            </form>
          </div>
        </div>
        <!-- /footer subscribe -->
      </div>
      <!-- /row -->
      <hr>
    </div>
    </footer>
</div>