<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<header style="background : black; align-content: right;">
<div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg" style="width: 100%;">
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav" >
              <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class="nav-link" style="color: white">
                    Giao Hàng </a>
                </li>
                <li class="nav-item" data-toggle="modal"  data-target="#mylogin">
                    <a class="nav-link" style="color: white">
                     Cam Kết Chất Lượng</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="color: white">
                    Chính sách bảo mật Về Viet Fruits</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" style="color: white">
                      Tin Tức</a>
                  </li>
                  <li class="nav-item" >
                      <a class="nav-link" style="color: white">
                        Liên Hệ</a>
                    </li>
                        
              </ul>
            </div>
            <!-- Collapsible content -->
          </nav>
    
    </div>
</div>
</header>
  <!-- ---------------------------------------------------------head----------------------------------------------- -->
  <header style="clear: both;  background:#4CAF50 ;font-size: 18px">
      <div class="container">
          <div class="row">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark indigo" style="height: 130px; width:100% ;">
      
        <!-- Navbar brand -->
        <a class="navbar-brand" href="javascript:;;" [routerLink]="[ '/' ]">  <img src="./assets/img/logo.png" alt="" width="auto" height="100"></a>
        <div class="input-group" style="width: 50%;">
                         
            <input type="text" class="form-control" id="usr" #search placeholder="Tìm kiếm trái cây..." style="border-radius: 0px;">
        <div class="input-group-btn search-panel">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" style="border-radius: 0px; background: white;">   Loại  
                <span class="caret"></span>
                <ul class="dropdown-menu" style="background: seashell;  padding: 10px; z-index: 10000;">
                  <li><a href="#" style="color: black;">Miền bắc</a></li>
                  <li><a href="#"style="color: black;">Miền trung</a></li>
                  <li><a href="#"style="color: black;">Miền nam</a></li>
                  <li class="divider"></li>
                  <li><a href="#"style="color: black;">Mùa xuân</a></li>
                  <li><a href="#"style="color: black;">Mùa hạ</a></li>
                  <li><a href="#"style="color: black;">Mùa thu</a></li>
                  <li><a href="#"style="color: black;">Mùa đông</a></li>
    
                </ul>
            </button>
        </div>
        <span class="input-group-btn">
                <button type="button" class="btn btn-dark"  style="border-radius: 0px; background: lightgrey" (click)="setText()" class="nav-link" routerLink="/search"> Tìm kiếm </button>
        </span>
    </div>
    
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav" style="background:#4CAF50; float: right;">
      
          <ul class="navbar-nav ml-auto">

            <li class="nav-item" >
                <a class="nav-link" style="color: white;font-size: 16px">
                <i class="fa fa-user mr-1"></i>Bùi văn thương</a>
            </li>
            <!-- <li class="nav-item" data-toggle="modal"  data-target="#mylogin">
                <a class="nav-link" style="color: white">
                <i class="fa fa-sign-in mr-1"></i> Đăng ký tài khoản</a>
            </li> -->
            <li class="nav-item" >
              <a class="nav-link" routerLink="/cart" style="color: white;font-size: 16px" (click)="checkProduct()">
                  Giỏ hàng <i class="fas fa-shopping-cart"></i>
                  <span class="badge badge-pill badge-danger" *ngIf="productService.countCart>0" >{{productService.countCart}}</span>
                </a>
            </li>
                    
          </ul>
        </div>
        <!-- Collapsible content -->
      
      </nav>
      <!--/.Navbar-->
    </div>
  </div>
      </header>
    <!-- ---------------------------------------------------------head----------------------------------------------- -->
  <header>
      <!--Navbar-->
      <div class="container">
          <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark indigo" style="height: 50px; background:white;;">
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav" style="background:white; ">
      
      
          <ul class="navbar-nav ml-auto">
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/admin" >
                  <div class="dropdown">
                      <button class="dropbtn dropdown-toggle" style="color:#1B5E20">Trái cây theo vùng miền  <span class="glyphicon glyphicon-chevron-down"></span></button>
                      <div class="dropdown-content">
                        <a href="#">Đà lạt</a>
                        <a href="#">Miền tây</a>
                        <a href="#">Tây nguyên</a>
                        <a href="#">Miền bắc</a>
                        <a href="#">Miền nam</a>
                      </div>
                    </div>  
                </a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/admin" style="color:#1B5E20">
                    <div class="dropdown">
                        <button class="dropbtn dropdown-toggle" style="color:#1B5E20">Trái cây theo mùa </button>
                        <div class="dropdown-content">
                          <a href="#">Mùa xuân</a>
                          <a href="#">Mùa hạ</a>
                          <a href="#">Mùa thu</a>
                          <a href="#">Mùa đông</a>
                        </div>
                      </div>  
                  </a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/admin" style="color:#1B5E20">
                  <div class="dropdown">
                      <button class="dropbtn dropdown-toggle" style="color:#1B5E20">Thể loại trái cây </button>
                      <div class="dropdown-content">
                        <a href="#">Trái Cây Nhập</a>
                        <a href="#">Trái Cây Việt</a>
                        <a href="#">Trái Cây Sấy</a>
                        <a href="#">Muối Chấm</a>
                      </div>
                    </div>  
                </a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/admin" style="color:#1B5E20">
                    <button class="dropbtn dropdown-toggle" style="color:#1B5E20">Sản phẩm hot </button></a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/admin" style="color:#1B5E20">
                    <button class="dropbtn dropdown-toggle" style="color:#1B5E20">Sản phẩm yêu thích </button></a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" routerLink="/admin" style="color:#1B5E20">
                    <button class="dropbtn dropdown-toggle" style="color:#1B5E20">Lựa chọn của VietFruits </button></a>
              </li>
          </ul>
        </div>
        <!-- Collapsible content -->
      </nav>
      <!--/.Navbar-->
    </div>
  </div>
</header>