<nav class="navbar ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 30px; font-weight: bold">VIETFRUITS</a>
    </div>
    <ul class="nav navbar-nav navbar-right ">
      <li><button style="margin: 10px" type="button" class="btn btn-primary">Quy trình kiểm duyệt</button></li>
      <li><button style="margin: 10px" type="button" class="btn btn-primary">Đăng nhập</button></li>
      <li><button style="margin: 10px" type="button" class="btn btn-primary">Đăng ký</button></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Giỏ hàng</a></li>
    </ul>
  </div>
</nav>

<nav class="navbar">
  <div class="container-fluid">
    <ul  style="width: 100%; text-align: center ; background-color: deepskyblue" class="nav navbar-nav">
      <li style="width: 25%; text-align: center; border-bottom: 2PX solid black; "><a href="#" style="color: black">TRANG CHỦ</a></li>
      <li  style="width: 25%; text-align: center" ><a style="color: black"href="#">GIỚI THIỆU</a></li>
      <li  style="width: 25%; text-align: center"><a style="color: black"href="#">LIÊN HỆ</a></li>
      <li style="width: 25%; text-align: center"><a style="color: black"href="#">GIAO HÀNG</a></li>
    </ul>
  </div>
</nav>