<div class="modal-dialog"  style="max-width: 900px;">
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

           <!-- Modal body -->
           <div class="modal-body login">
            <div class="container">
                <div class="card">
                  <div class="container-fliud">
                    <div class="wrapper row">
                      <div class="preview col-md-6">
                        
                        <div class="preview-pic tab-content">
                          <div class="tab-pane active" id="pic-1"><img src="./assets/img/{{p.image}}" height="400px"/></div>
                          <div class="tab-pane" id="pic-2"><img src="./assets/img/{{p.image}}" /></div>
                          <div class="tab-pane" id="pic-3"><img src="./assets/img/{{p.image}}" /></div>
                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                          <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="./assets/img/{{p.image}}" /></a></li>
                          <li><a data-target="#pic-2" data-toggle="tab"><img src="./assets/img/{{p.image}}" /></a></li>
                          <li><a data-target="#pic-3" data-toggle="tab"><img src="./assets/img/{{p.image}}" /></a></li>
                        </ul>
                        
                      </div>
                      <div class="details col-md-6"><br>
                        <h3 class="product-title">{{p.title}}</h3>
                        <div class="rating">
                          <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                          <span class="review-no">{{p.id}} đánh giá</span>
                        </div>
                        <p class="product-description">Sản phẩm chứa nhiều vitamin giúp tốt cho sức khoẻ và làn da của bạn</p>
                        <h5 class="price">Giá sản phẩm: <span>{{p.price| number:0}} vnđ</span></h5>
                        <h5 class="price">Số lượng: <span>

                              <input type="button" value="-" class="minus">
                              <input type="number"  style="text-align: center" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                     size="1">
                              <input type="button" value="+" class="plus">
                          </span></h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
        <!-- Modal footer -->
        <div class="modal-footer">
            <button class="add-to-cart btn btn-default" type="button" (click)="clickBuy(p)" data-dismiss="modal">Thêm vào giỏ hàng</button>
            <button class="like btn btn-default" type="button" (click)="clickLike(p)"><span class="fa fa-heart"></span></button>
        </div>

    </div>
</div>