<div style="
background-color: #ffffff;">
 <div class="col-md-12" style="border-bottom: 1px solid #ccc;padding: 0px;margin: 40px 0px; position: relative;">
</div>
  <footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- footer widget -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="footer">
              <div class="block_content">
		
		
                  <b class="title_block">VIET FRUITS</b>
                
                <div class="about">
                  
                    <br>Công ty TNHH Viet Fruits
                    <br>Số ĐKKD xxx do sở kế hoạch và đâu tư TP HCM. 
                    <br> Cấp ngày 07/06/2019
                    <br>ĐC: 10 NGuyễn văn cừ Q.10 TP.HCM
                    <br>info@vietfruits.vn<br>Hotline: 19006000
                    <br>Giấy phép kinh doanh 
                    <br>FM 1 số: 88/GP-PKT cấp ngày 21/12/2018
                    <br>

                </div>
              </div>
              <a href="#" target="_blank"><img src="//theme.hstatic.net/1000141988/1000416404/14/imglogobct.png?v=304" style="width:150px;"></a>
              
          </div>
        </div>
        <!-- /footer widget -->
  
        <!-- footer widget -->
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h6 class="footer">Thông tin cá nhân</h6>
          <div class="footer">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Tài khoản</li>
                <li class="list-group-item">Danh sách yêu thích</li>
                <li class="list-group-item">Giao hàng</li>
                <li class="list-group-item">Thanh toán</li>
              </ul>
          </div>
        </div>
        <!-- /footer widget -->
      
        <div class="clearfix visible-sm visible-xs"></div>
  
        <!-- /footer widget -->
  
        <!-- footer subscribe -->
        <div class="col-md-3 col-sm-6 col-xs-6">
          <div class="footer">
            <h6 class="footer">Nhận thông tin mới</h6>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="usr"placeholder="Nhập email... "> 
              </div>
              <button class="btn btn-primary"> Gửi </button>
            </form>
          </div>
        </div>

        
        <!-- footer widget -->
        <div class="col-md-3 col-sm-6 col-xs-6">
            <h6 class="footer">Dịch vụ khách hàng</h6>

            <div class="footer">

              <ul class="list-group list-group-flush">
                  <li class="list-group-item">Thông tin cửa hàng</li>
                  <li class="list-group-item">Đổi trả hàng</li>
                  <li class="list-group-item">Chính sách kiểm duyệt</li>
                  <li class="list-group-item">Liên hệ</li>
              </ul>
            </div>
          </div>
        <!-- /footer subscribe -->
      </div>
      <!-- /row -->
      <hr>
    </div>
    </footer>
</div>