<div class="product-item" style="border: 1px solid bisque">
    <div class="pi-img-wrapper">
      <img src="./assets/img/thom.jpeg" style="width: 100%; height: 100%;" alt="Berry Lace Dress">
      <div>
      </div>
    </div>
    <h3><a href="shop-item.html">Trái cây ba miền</a></h3>
    <div class="pi-price">29.000 vnđ</div>
    <br><hr>
    <div>
    <a href="javascript:;" class="btn add2cart"  routerLink="/cart"style="float: left;">
      <span style="font-size: 30PX" class="glyphicon glyphicon-shopping-cart"></span>
    </a>
    <a href="javascript:;" class="btn add2cart"  routerLink="/product-detail"style="color: dodgerblue ;float: right; margin-top:5px">Chi tiết sản phẩm</a>
    </div>
    <div class="sticker sticker-new"></div>
  </div>