<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="input-group">
                    
    <input type="hidden" name="search_param" value="all" id="search_param">         
    <input type="text" class="form-control" name="x" placeholder="Tìm kiếm trái cây...">
    <div class="input-group-btn search-panel">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">   Loại   
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Miền bắc</a></li>
              <li><a href="#">Miền trung</a></li>
              <li><a href="#">Miền nam</a></li>
              <li class="divider"></li>
              <li><a href="#">Mùa xuân</a></li>
              <li><a href="#">Mùa hạ</a></li>
              <li><a href="#">Mùa thu</a></li>
              <li><a href="#">Mùa đông</a></li>

            </ul>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
</div>
